<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>vestib</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
    <h1> Cadastrar Área de Ensino</h1>
    <form action="#" th:action="@{/ensino/add}" th:object="${areaEnsino}" method="post">
        <p>codigo da area de ensino: <input type="text" th:field="*{codigo}" /></p>
        <p>nome: <input type="text" th:field="*{nome}" /></p>
        <p>cidade de locação: <input type="text" th:field="*{cidadeLocacao}" /></p>
        <p>nota minima requerida: <input type="number" th:field="*{notaMinima}" /></p>
        <select  th:field="*{nivel}">
            <option th:each="nivel : ${T(com.dominios.vestib.model.Escolaridade).values()}"
                    th:value="${nivel}" th:text="${nivel.valor}"></option>
        </select>
        <p><input class="btn btn-primary" type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>