<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>vestib</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
    <div class="row">
        <div class="col-4"><a th:href="@{/home}">voltar</a></div>
    </div>
<h1> Cadastrar Área de Ensino</h1>
<form action="#" th:action="@{/cursos/add}" th:object="${curso}" method="post">
    <p>Código: <input type="text" th:field="*{codigo}" required/></p>
    <p>Nome: <input type="text" th:field="*{nome}" required/></p>
    <p>Cidade de locação: <input type="text" th:field="*{cidadeLocacao}" required/></p>
    <p>Função: <input type="text" th:field="*{funcao}" /></p>
    <p>Número de vagas: <input type="number" th:field="*{vagas}" /></p>
    <p>Vagas destinadas a PNE: <input type="number" th:field="*{vagasPne}" /></p>
    <p>Vagas destinadas a cotistas : <input type="number" th:field="*{vagasCota}" /></p>
    <p>Gabarito: <input type="text" th:field="*{gabarito}" /></p>
    <p>nota minima requerida: <input type="number" th:field="*{notaMinima}" /></p>
    <p>Grupo: <input type="text" th:field="*{grupo}" /></p>
    <select  th:field="*{nivel}">
        <option th:each="nivel : ${T(com.dominios.vestib.model.Escolaridade).values()}"
                th:value="${nivel}" th:text="${nivel.valor}"></option>
    </select>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>