<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
<h1>
    Pagina Home
</h1>
<div class = "row">
    <div class="col-6">
        <a href="#" th:href="@{/cursos/add}"><button type="button" class="btn btn-primary">cadastrar Area de Ensino </button></a>
    </div>
    <div class="col-6">
        <a href="#" th:href="@{/cursos/list}"><button type="button" class="btn btn-primary"> Listar Areas de Ensino </button></a>
    </div>

</div>
<div class = "row">
    <div class = "col-4"></div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
    <div class = "col-4">
        <h4>Gera um csv no caminho opt/pessoas.csv</h4>
        <a href="#" th:href="@{/candidatos/upload/csv}"><button type="button" class="btn btn-primary"> Gerar csv </button></a>
    </div>


</div>


</body>
</html>