<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
    <div class="jumbotron p-4 my-1">
        <h1 class="display-4">Lista de Cursos</h1>
    </div>
    <nav class="mb-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/home}">Home</a>
            </li>
            <li class="breadcrumb-item active">Lista de Cursos</li>
        </ol>
    </nav>
    <div class="alert alert-warning d-flex align-items-center" role="alert" th:if="${#lists.isEmpty(cursos)}">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            Não possui registros.
        </div>
    </div>




    <table th:unless="${#lists.isEmpty(cursos)}" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col">Nivel</th>
                <th scope="col">Cidade locação</th>
                <th scope="col">Função</th>
                <th scope="col">Grupo</th>
                <th scope="col">Ações</th>
                <th scope="col">Visualizar curso</th>
            </tr>
        </thead>
        <tbody>
        <th:block th:each="curso : ${cursos}">
            <tr>
                <td th:text="${curso.codigo}">...</td>
                <td th:text="${curso.nome}">...</td>
                <td th:text="${curso.nivel.valor}">...</td>
                <td th:text="${curso.cidadeLocacao}">...</td>
                <td th:text="${curso.funcao}">...</td>
                <td th:text="${curso.grupo}">...</td>


                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Editar</a>
                            <a class="dropdown-item" method="POST" th:action="@{/cursos/remove(id=${curso.id})}" href="#">Remover</a>
                        </div>
                    </div>
                   <!--
                   <form method="POST" th:action="@{/cursos/remove(id=${curso.id})}">
                        <button type="submit" name="submit" value="value" class="link-button">remover</button>
                    </form>
                    -->
                </td>
                <td>
                    <form method="POST" th:action="@{/cursos/list/{idCurso}(idCurso=${curso.id})}">
                        <button type="submit" name="submit" value="value" class="link-button">Visualizar</button>
                    </form>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</body>
</html>