<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="dataPresent">Data received</div>
<div th:fragment="noData">No data</div>

<div th:fragment="list(disciplinas)" id="test">
    <h3>Disciplinas</h3>
  <div class="card-group" th:each="disciplina : ${disciplinas}">
      <div class="card mb-1">
          <div class="card-header" id="div1">
              <div class="card-text" th:text="${disciplina.nome}">...</div>
          </div>
          <div class="card-body">
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                      <h5>Peso</h5>
                      <div class="card-text" th:text="${disciplina.peso}">...</div>
                  </li>
                  <li class="list-group-item" th:unless="${disciplina.gabarito}" >
                      <h5>Gabarito</h5>
                      <div class="card-text" th:text="${disciplina.gabarito}">...</div>
                  </li>
                  <li class="list-group-item">
                      <h5>Questão Inicial</h5>
                      <div class="card-text" th:text="${disciplina.questaoInicial}">...</div>
                  </li>
                  <li class="list-group-item">
                      <h5>Questão Final</h5>
                      <div class="card-text" th:text="${disciplina.questaoFinal}">...</div>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
<style>
    #div1, #div3  {background-color: #301762}
    #div1, #div3 {color: #ffffff}
    #div2 {background-color: #E9F1F2}
    body {background-color: #F2F2F2}
    #div5 {color: #301762}
</style>
</body>
</html>