<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
    <h1>Areas de Ensino</h1>
    <table th:unless="${#lists.isEmpty(ensinos)}" class="table table-hover table--sortable">
            <thead class="bg-primary">
                <tr>
                    <td>codigo</td>
                    <td>nome</td>
                    <td>nivel</td>
                    <td>cidade locação</td>
                </tr>
            </thead>
            <tbody>
            <th:block th:each="ensino : ${ensinos}">
                <tr>
                    <td th:text="${ensino.codigo}">...</td>
                    <td th:text="${ensino.nome}">...</td>
                    <td th:text="${ensino.nivel}">...</td>
                    <td th:text="${ensino.cidadeLocacao}">...</td>
                </tr>
            </th:block>
            </tbody>
    </table>
</body>
</html>