<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
</head>
<body>

<div id="div1" class="jumbotron-fluid p-4 mb-0 text-white" >
    <div class="row">
        <div class="col-md">
            <h1 class="display-4">Lista de Cursos</h1>
        </div>
        <div class="col-md">
            <form th:action="@{/logout}" method="post" class="float-right ">
                <input type="submit" value="Logout" class="btn btn-light"/>
            </form>
        </div>
    </div>
</div>
    <nav id="div2" class="mb-5">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a th:href="@{/home}">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Lista de Cursos</li>
                </ol>
    </nav>
    <div class="alert alert-warning d-flex align-items-center" role="alert" th:if="${#lists.isEmpty(cursos)}">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div >
            Não possui registros.
        </div>
    </div>
    <div class = "container">
        <div class="row">
            <div class="col-md">
            <a th:href="@{/cursos/add}"><button type="button" class="btn btn-info col-md-2">Cadastrar Curso</button></a>
            </div>
        </div>

<br/>

    <table th:unless="${#lists.isEmpty(cursos)}" class="table table-striped table-hover">
        <thead id="div3">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col">Nivel</th>
                <th scope="col">Locação</th>
                <th scope="col">Função</th>
                <th scope="col">Grupo</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
        <th:block th:each="curso : ${cursos}">
            <tr>
                <td th:text="${curso.codigo}">...</td>
                <td th:text="${curso.nome}">...</td>
                <td th:text="${curso.nivel.valor}">...</td>
                <td th:text="${curso.cidadeLocacao}">...</td>
                <td th:text="${curso.funcao}">...</td>
                <td th:text="${curso.grupo}">...</td>
                <td>

                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <div>
                                <form method="get" type="submit" th:action="@{/cursos/list/{idCurso}(idCurso=${curso.id})}">
                                    <button   class="dropdown-item">Visualizar</button>
                                </form>
                            </div>
                            <div>
                                <form method="POST" th:action="@{/cursos/remove(id=${curso.id})}">
                                    <button type="submit" name="submit" value="value" class="dropdown-item">Apagar</button>
                                </form>
                            </div>
                        </ul>
                    </div>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    </div>
</body>
<style>
    #div1, #div3  {background-color: #301762}
    #div1, #div3 {color: #ffffff}
    #div2 {background-color: #E9F1F2}
    body {background-color: #F2F2F2}
    #div5 {color: #301762}
</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>