<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
    <div class="row">
        <div class="col-4"><a th:href="@{/home}">voltar</a></div>
    </div>
    <h1>Areas de Ensino</h1>
    <h2 th:if="${#lists.isEmpty(cursos)}">Não possui registros.</h2>
    <table th:unless="${#lists.isEmpty(cursos)}" class="table table-hover table--sortable">
            <thead class="bg-primary">
                <tr>
                    <td>Codigo</td>
                    <td>Nome</td>
                    <td>Nivel</td>
                    <td>Cidade locação</td>
                    <td>Função</td>
                    <td>Vagas</td>
                    <td>Vagas pne</td>
                    <td>Vagas cota</td>
                    <td>Gabarito</td>
                    <td>Nota mínima</td>
                    <td>Grupo</td>
                    <td>ações</td>
                </tr>
            </thead>
            <tbody>
            <th:block th:each="curso : ${cursos}">
                <tr>
                    <td th:text="${curso.codigo}">...</td>
                    <td th:text="${curso.nome}">...</td>
                    <td th:text="${curso.nivel.valor}">...</td>
                    <td th:text="${curso.cidadeLocacao}">...</td>
                    <td th:text="${curso.funcao}">...</td>
                    <td th:text="${curso.vagas}">...</td>
                    <td th:text="${curso.vagasPne}">...</td>
                    <td th:text="${curso.vagasCota}">...</td>
                    <td th:text="${curso.gabarito}">...</td>
                    <td th:text="${curso.notaMinima}">...</td>
                    <td th:text="${curso.grupo}">...</td>


                    <td>
                        <form method="POST" th:action="@{/cursos/remove(id=${curso.id})}">
                            <button type="submit" name="submit" value="value" class="link-button">remover</button>
                        </form>
                    </td>
                </tr>
            </th:block>
            </tbody>
    </table>
</body>
</html>