<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>vestib</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div id="div1" class="jumbotron-fluid p-4 mb-0 text-white" >
    <div class="row">
        <div class="col-md">
            <h1 class="display-4">Dados do Curso</h1>
        </div>
        <div class="col-md">
            <form th:action="@{/logout}" method="post" class="float-right ">
                <input type="submit" value="Logout" class="btn btn-light"/>
            </form>
        </div>
    </div>
</div>
    <nav class="mb-5">
        <ol id="div2" class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/home}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{/cursos/list}">Lista de Cursos</a>
            </li>
            <li class="breadcrumb-item active">Dados do Curso</li>
        </ol>
    </nav>
    <div class="container">
        <div class="row">
             <div class="col-md">
            <a th:href="@{/candidatos/list/{idCurso}(idCurso=${curso.id})}">
                <button id="but1" class="btn  btn-info col-md-4">Candidatos</button>
            </a>
             </div>
            <div class="col-md">
        <form  method="GET" th:action="@{/classificacao/generate/{idCurso}(idCurso=${curso.id})}">
            <button id="but2" class="btn btn-info col-md-4 float-right" >Classificação</button>
        </form>
            </div>
    </div>
        <br/>
    <div class="card">
        <div id="div3" class="card-header">
            <h5 class="mb-0">
                Dados
            </h5>
        </div>
        <div class="card-body">
            <form action="#" th:action="@{/cursos/add}" th:object="${curso}" method="post" class="container-fluid">
                <div class="form-row">
                    <div class="col-12 col-md-1">
                        <div class="form-group">
                            <label>Código</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Cod" th:field="*{codigo}" disabled="">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="form-group">
                            <label>Nome</label>
                            <input type="text" class="form-control" placeholder="Informe o nome do curso" th:field="*{nome}" disabled="">
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group">
                            <label>Locação</label>
                            <div class="input-group">
                                <input type="text" class="form-control"  th:field="*{cidadeLocacao}" disabled="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label>Função</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="" th:field="*{funcao}">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="form-group">
                            <label>Vagas</label>
                            <input type="number" min="0" class="form-control" th:field="*{vagas}">
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="form-group">
                            <label>Vagas para Cotistas</label>
                            <input type="number" min="0" class="form-control" th:field="*{vagasCota}">
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="form-group">
                            <label>Vagas para PcD</label>
                            <input type="number" min="0" class="form-control" th:field="*{vagasPne}">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-12">
                        <div class="form-group">
                            <label>Gabarito</label>
                            <input type="text" class="form-control" th:field="*{gabarito}" placeholder="Informe o gabarito">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-12 col-md-2">
                        <div class="form-group">
                            <label>Nota mínima:</label>
                            <div class="input-group">
                                <input type="number" min="0" max="10" class="form-control" th:field="*{notaMinima}">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label>Grupo</label>
                            <input type="text" min="0" class="form-control" th:field="*{grupo}">
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label>Escolaridade</label>
                           <input th:field="*{nivel.valor}" class="form-control" disabled="">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
    <div class="container" th:unless="${#lists.isEmpty(disciplinas)}">
        <div th:replace="lista-disciplinas.html :: list(disciplinas=${disciplinas})"></div>
    </div>


</body>
<style>
    #div1, #div3  {background-color: #301762}
    #div1, #div3 {color: #ffffff}
    #div2 {background-color: #E9F1F2}
    body {background-color: #F2F2F2}
    #div5 {color: #301762}
</style>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>